---
layout: default
---

<div class="container">
  <div class="page__head" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
    <h1 class="page__title">{{ page.title | escape }}</h1>
  </div>

  <!-- begin page -->
  <article class="page">
    {% for work in site.works %}
    <div class="article" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
      {% if work.thumbs %}
      <div class="article__image-box">
        <a href="{{work.url | prepend: site.baseurl}}" class="article__image" style="background-image: url({{site.baseurl}}{{work.thumbs}})"></a>
      </div>
      {% endif %}
      <div class="article__content">
        <h2 class="article__title">
          <a href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a>
        </h2>
        <div class="article__meta">
          <span class="article__date"
            >Working period
            <time datetime="{{ work.date | date_to_xmlschema }}"
              >{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date
              | date: date_format }}</time
            ></span
          >
        </div>
        <a href="{{ work.url | prepend: site.baseurl }}" class="read-more">View more</a>
      </div>
    </div>
    {% endfor %}
  </article>
  <!-- end page -->
</div>